<div class="text-center">
  <h1>About the Discretionary Spending App</h1><br>
  <p>The Discretionary Spending App was created to help aid the<br>Discretionary Spending Committee.</p><br><br>
</div>

<div class="text-center">
  <h1>Application Goals</h1>
  <div style="float: left; width: 50%;">
    <h3>General Goals</h3>
    <li>Offer a user friendly experience in<br>tracking quarterly budgets and expenditures</li>
    <li>Provide a medium through which users<br>can express expenditure ideas</li>
    <li>Implement a voting feature so users<br>can vote on preferred expenditures</li>
  </div>
  <div style="float: right; width: 50%;">
    <h3>Future Goals</h3>
    <li>Add feature that will convert an Item<br>into an Expenditure</li>
    <li>Research on mobile compatability with<br>respect to Rails applications</li><br>
  </div>
</div>
