<div class="text-center">
  <h1>Contact Us</h1><br>
  <h2>Have Comments or Suggestions?</h3>
  <p>Feel free to contact us at<br>james.park@annkissam.com</p>
  <br>
  <h2>Have General Committee Questions or Concerns?</h3>
  <p>Feel free to contact Kevin Palmer,<br>the head of the Discretionary Spending Committee!</p>
</div>
