<div class="text-center">
  <h1>Contact Us</h1><br>
  <h3>Have Comments or Suggestions?</h3>
  <p>Feel free to contact us at<br>james.park@annkissam.com</p>
  <br>
  <h3>Have general committee questions or concerns?</h3>
  <p>Feel free to contact Kevin Palmer!</p>
</div>
