<div class="jumbotron">
  <h1 class="home-h text-center">Welcome to the Discretionary Spending App</h1>
  <br>
  <p class="text-center">where every vote counts!</p>
  <br>
  <p class="text-center"><a class="btn btn-primary btn-lg" role="button" href="/items">Start Voting!</a></p>
</div>

<div class="text-center">
  <h1>Member Privileges</h1>
  <div style="float: left; width: 50%;">
    <h3>Admin Features</h3>
    <li>Access to manual creation of Quarterly Budget, Expenditure,<br>Expenditure Type, and Voting Item</li>
    <li>Access to exclusive Edit and Show pages</li>
    <li>Access to Voting feature</li>
  </div>
  <div style="float: right; width: 50%;">
    <h3>General User Features</h3>
    <li>Access to all Quarterly Budget, Expenditure,<br>Expenditure Type, and Voting Item records</li>
    <li>Access to Voting feature</li><br>
  </div>
</div>

<div class="text-center">
  <br><br><br><br><br><br><br><br>
  <h1>General Application Note</h1>
  <p>At the start of every new quarterly budget, the application will<br>automatically create a new Quarterly Budget and set the end balance<br>of the previous quarterly budget.</p>
</div>
