<div class="jumbotron">
  <h1>Welcome to the Discretionary Spending App!</h1>
  <p>Today's Message: ...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Get Started!</a></p>
</div>

<h1 class="text-center">Home Page</h1>
<p class="text-center">Text: Coming Soon!</p>
