<% if current_user %> 
  <h1>Editing item</h1>

  <%= render 'form' %>

  <%= link_to 'Back', items_path, :class => "lower-link" %>
<% else %>
  <br><br><br><br>
  <h2 class="centered-warning">Please log in at the 'Sign In' page to edit an Item!</h2>
<% end %>
