<% if current_user %>
  <h1>Listing All Expenditure Types</h1>

  <table id="table1" class="table table-striped">
    <thead>
      <tr>
        <th class="col-sm-5">Description</th>
        <th class="col-sm-5"></th>
        <% if current_user && current_user.admin %>
          <th class="col-sm-2">Links</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @settings_types.each do |settings_type| %>
        <%= content_tag_for(:tr, settings_type) do %>
          <td><%= settings_type.description %></td>
          <td></td>
          <% if current_user && current_user.admin %>
            <td><%= link_to 'Edit', edit_settings_type_path(settings_type) %></td>
          <% end %>
          <td></td>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <% if current_user && current_user.admin %>
    <%= link_to 'Create New Type', new_settings_type_path, 'data-no-turbolink' => true, :class => "lower-link" %>
  <% end %>
<% else %>
  <br><br><br><br>
  <h2 class="centered-warning">Please log in at the 'Sign In' page to view the Expenditure Types page!</h2>
<% end %>
