<h1>Expenditure Type</h1>

  <div class="attributes">
    <fieldset>
      <dl class="inline">
        <dt><label><strong>Description:</strong></label></dt><dd><%= @settings_type.description %></dd>
      </dl>
    </fieldset>
  </div>

<%= link_to 'Edit', edit_settings_type_path(@settings_type), :class => "lower-link" %> |
<%= link_to 'Back', settings_types_path, :class => "lower-link" %>
