/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.ui.datepicker
 */

@import "bootstrap";

.table-striped tbody tr td a:hover {
  text-decoration: none;
}

.table-striped tbody tr:nth-child(odd) td a:hover {
  background-color: #d0e0f0;
}

.table-striped tbody tr:nth-child(even) td a:hover {
  background-color: #A8A8A8 ;
}

.table-striped tbody tr:nth-child(odd) td {
  background-color: #5E9ACA;
}

.table-striped tbody tr td {
  color: #303030;
}

.table-striped tbody tr td a {
  color: #303030;
}

.navbar-default .navbar-nav li a {
  color: white;
}

.navbar {
  background-image: -webkit-linear-gradient(top, #5E9ACA, #3B6F92);
  background-image: -moz-linear-gradient(#5E9ACA, #3B6F92);
}
