/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.ui.datepicker
 */

@import "bootstrap";

h1, h2, h1.home-h {
  color: #285e8e;
}

a.btn, a.btn-primary, a.btn-lg {
  color: white;
  text-decoration: none;
}

.table-striped thead tr th a:hover {
  color: black;
}

.table-striped thead tr th a, a.focus {
  background-color: transparent;
  text-decoration: none;
  color: #666666;
}

a.lower-link {
  background-color: #d0e0f0;
  text-decoration: none;
}

.centered-warning {
  text-align: center;
  color: orange;
}

.missing-data-warning {
  color: orange;
}

.upvote-button-style {
  border-color: green;
  color: green;
}

.downvote-button-style {
  border-color: red;
  color: red;
}

.table-striped tbody tr td a:hover {
  text-decoration: none; /* No Underline (Show, Edit, Destroy) */
}

.table-striped tbody tr:nth-child(odd) td a:hover {
  background-color: #d0e0f0; /* Highlight Links with Light Grey */
}

.table-striped tbody tr:nth-child(even) td a:hover {
  background-color: #A8A8A8 ; /* Highlight Links with Dark Grey */
}

.table-striped tbody tr:nth-child(odd) td {
  background-color: #5E9ACA; /* Color Row with Light Blue */
}

.table-striped tbody tr td, .table-striped tbody tr td a {
  color: #303030; /* Words in Table Colored Light Black */
}

.dropdown-menu .divider { /* Width of Divider in DropDown */
  height: 2px;
  margin: 0.5px 0px 0.5px 0px;
}

.dropdown-menu { /* DropDown Shadow */
  padding: 0px 0px 0px 0px;
  box-shadow: 0 2px 0 #555555, 0 2px 0 #666;
}

.navbar-default .navbar-nav .open a, .navbar-default .navbar-nav .open a:hover, .navbar-default .navbar-nav .open a:focus {
  background-color: #B0CAE6; /* DropDown Color set to Light Blue */
}

.navbar-default .navbar-nav li a:hover {
  color: #555555; /* Grey */
}

.navbar-default .navbar-nav li a {
  color: #FFFFFF; /* White */
}

.navbar {
  background-image: -webkit-linear-gradient(top, #5E9ACA, #3B6F92);
  background-image: -moz-linear-gradient(#5E9ACA, #3B6F92);
}

p.error {
  text-align: left;
  color: red;
}

p.notice {
  text-align:right;
  color: green;
}
